@page
@{
}

<main>
    <section class="container-fluid w-100 mt-5 pt-5">
    <h1 class="title-cineSuntem">
        Te ajutam sa iti gasesti casa pe care o vei iubi!
    </h1>
    </section>

    <!-- DEZVOLTATORI PROFILE CARD -->

    <section class="container-fluid m-5">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img class="img-fluid img-section" src="/media/ciprian.jpeg" alt="brani">
                    </div>
                    <div class="col-12 col-md-6 p-5">
                        <h2 class="title-section text-center">Ciprian Branisteanu</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi totam magni adipisci cum commodi beatae natus voluptas, accusantium perferendis, cupiditate veniam, ipsam tempora culpa fuga saepe quam laboriosam nobis. Iure.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-12 col-md-6 p-5">
                        <h2 class="title-section text-center">Alex Something</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi totam magni adipisci cum commodi beatae natus voluptas, accusantium perferendis, cupiditate veniam, ipsam tempora culpa fuga saepe quam laboriosam nobis. Iure.</p>
                    </div>
                    <div class="col-12 col-md-6">
                        <img class="img-fluid img-section" src="/media/ciprian.jpeg" alt="brani">
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- STATISTICS  -->

    <section class="container-fluid w-100 stat-wrapper-ctn py-5">
       <h2 class="text-center"> Facem lucrurile bine! </h2>
        <h3 class="text-center pb-3"> Statistic vorbind: </h3>

        <article class="row align-items-center justify-content-center">
            <div class="col-6 col-xs-12">
                <img src="/media/stats.jpg" alt="happy" class="img-fluid img-section"/>
            </div>
            <div class="col-6 col-xs-12">
                <ol class="gradient-list">
                    <li> peste 8000 m2 vanduti </li>
                    <li> familii fericite  </li>
                    <li> case construite </li>

                </ol>
            </div>
        </article>
    </section>

    <!-- HELP  -->

    <section class="container-fluid w-100">
        <article class="row justify-content-around py-5">
            <div class="col-6 col-cs-12 d-flex justify-content-center p-0">
                <div class="card card-aboutUs" style="width: 18rem;">
                    <i class="fa-brands fa-4x text-center fa-teamspeak pt-2"></i>
                    <div class="card-body">
                        <h5 class="card-title text-truncate text-center">O echipa de experti</h5>
                        <p> Echipa noastra are experienta in domeniu de 100 de ani si  e pregatita sa iti ofere cea mai buna asistenta </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xs-12 d-flex justify-content-center p-0">
                <div class="card card-aboutUs" style="width: 18rem;">
                    <i class="fa-regular fa-4x text-center fa-face-smile-beam pt-2"></i>
                    <div class="card-body">
                        <h5 class="card-title text-truncate text-center">Mai mult decat o agentie</h5>
                        <p>
                            Sa construiesti casa visurilor tale e un procesat stresant cu multe servicii si alergaturi pe la diverse institutii.
                            Noi iti oferim serviciile noastre pentru a te ajuta de-a lungul acestui proces.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xs-12 d-flex justify-content-center p-0">
                <div class="card card-aboutUs" style="width: 18rem;">
                    <i class="fa-regular fa-4x text-center fa-face-smile-beam pt-2"></i>
                    <div class="card-body">
                        <h5 class="card-title text-truncate">Cel mai bun pret</h5>
                        <p>
                            Sa construiesti casa visurilor tale e un procesat stresant cu multe servicii si alergaturi pe la diverse institutii.
                            Noi iti oferim serviciile noastre pentru a te ajuta de-a lungul acestui proces.
                        </p>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <!-- REVIEWS -->

    <section class="container-fluid w-100">
        <h2 class="text-center title-section pb-5"> Spune  lumea despre noi </h2>

        <article class="row align-items-center justify-content-center pb-5">
            <div class="col-3 col-xs-12 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> Tanta Mariana 5* </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#">Link cu sursa </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-xs-12 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> Tanta Mariana 5* </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#">Link cu sursa </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-xs-12 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> Tanta Mariana 5* </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#">Link cu sursa </a>
                    </div>
                </div>
            </div>
            <div class="col-3 col-xs-12 d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> Tanta Mariana 5* </h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#">Link cu sursa </a>
                    </div>
                </div>
            </div>

        </article>
    </section>

</main>


